---
import LayoutBase from "../../layouts/LayoutBase.astro";
---

<LayoutBase
    MetaTitle="Nuestros Miembros - IA Unamba"
    title="Miembros"
    description="Un equipo apasionado por la IA, dedicado a investigar, aprender y crear soluciones con impacto."
>
    <main class="px-4 sm:px-8 md:px-12 py-4">
        <h2
            class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-white"
        >
            Miembros
        </h2>
    </main>
</LayoutBase>
