/* ===============================
   HOME (Inicio) – Tema oscuro
   =============================== */

.navbar {
  height: 70px;
  background: #0d1117;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.11);
  font-size: 16.17px;
  padding: 0 1rem;
}

#navbar-main .main-menu-item ul li .nav-link {
  color: #9ba3b4;
}


.navbar-brand img { max-height: 38px; }
@media (max-width: 575px) {
  .navbar-brand img { max-height: 32px; }
}

/* Deshabilitar enlaces solo dentro del nombre (portrait-title) */
.portrait-title h2 a {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
  color: #1565c0; /* hereda el color normal */

}

.article-container .author-card {
  display: none !important;
}

/* Desactivar completamente el clic en la imagen del miembro */
.section-people a.avatar-link {
  pointer-events: none !important;
  cursor: default !important;
}

/* Asegurar que tampoco sea clickeable la imagen dentro del enlace */
.section-people a.avatar-link img {
  pointer-events: none !important;
}

