---
import LayoutBase from "../layouts/LayoutBase.astro";
---

<LayoutBase
    MetaTitle="Acerca de Nosotros - IA Unamba"
    title="Sobre Nosotros"
    description="Somos una comunidad de investigadores, estudiantes y curiosos que transforman ideas en proyectos reales."
>
    <main
        class="text-white mt-4 flex flex-col gap-8 sm:gap-12 md:gap-16 lg:gap-24 text-xl sm:text-2xl md:text-3xl lg:text-4xl px-4 sm:px-8 md:px-16 lg:px-30 flex-cols"
    >
        <section class="flex flex-col gap-3 sm:gap-4">
            <h2 class="font-bold">Nuestra Mision</h2>
            <p class="text-[#B2BBC5]">
                Contribuir a la formación de investigadores y profesionales en
                inteligencia artificial, creando soluciones innovadoras que
                respondan a desafíos académicos, sociales e industriales,
                generando impacto a nivel local, regional y nacional.
            </p>
        </section>
        <section class="flex flex-col gap-3 sm:gap-4">
            <h2 class="font-bold">Nuestra Vision</h2>
            <p class="text-[#B2BBC5]">
                Ser el grupo de referencia en investigación en inteligencia
                artificial en el sur del Perú, reconocido por la calidad de
                nuestros proyectos, publicaciones y aportes tecnológicos que
                impulsan el progreso de la sociedad y la comunidad científica.
            </p>
        </section>
    </main>
</LayoutBase>
