---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
const { title = "Grupo IA Unamba" } = Astro.props;
import "../style/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ClientRouter />
    </head>
    <body class="bg-bluedark px-8">
        <header>
            <Navbar />
        </header>
        <slot />
        <Footer />
    </body>
</html>
